<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naruto!!</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>    
    <header>
        <a href="/"><img src="" alt="naruto logo"></a>
    
        <nav>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photogallery">Photo Gallery</a>
        </nav>
    </header>

    <div class="info-container">
        <p>Welcome!<br>This is our Naruto dedicated Express Website!<br>Look around to check all feature and have fun!</p>
        <img src="" alt="naruto welcome">
    </div>

    <footer>
        <span>Created by Danial Raja and Ismael Freitas</span>
    </footer>

</body>
</html>