<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Naruto's Gallery</title>
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="naruto logo"></a>
    
        <nav>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photogallery">Photo Gallery</a>
        </nav>
    </header>
    <div class = "image-container">
    <img src="/images/uzumaki.png" alt="uzumaki">
    <img src="/images/knife.png" alt="knife">
    <img src="/images/anime.png" alt="anime">
    <img src="/images/baby.png" alt = "baby">
    <img src="/images/sitting.png" alt = "sitting">
    <img src="/images/kid.jpg" alt ="kid">
    <img src="/images/naruto3.png" alt="naruto3">
    <img src="/images/shippuden.png" alt="shippuden">
    <img src="/images/happy.png" alt="happy">
    <img src="/images/narutouzumaki.png" alt="narutouzumaki">
    <img src="/images/cheeky.png" alt="cheeky">
    <img src="/images/partner.png" alt="partner">
    <img src="/images/drawing.png" alt="drawing">
    <img src="/images/naruto8.png" alt="naruto8">
    </div> 



    <footer>
        <span>Created by Danial Raja and Ismael Freitas</span>
    </footer>
    
</body>
</html>