<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Naruto's Achievements</title>
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="naruto logo"></a>
    
        <nav>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photogallery">Photo Gallery</a>
        </nav>
    </header>
    <div class = "image-container">
        <img src="/images/narutofilm1.jpg" alt="narutofilm1">
        <img src="/images/narutomovie2.jpg" alt="movie2">
        <img src="/images/narutomovie3.jpg" alt="movie3">
        <img src="/images/narutomovie4.jpg" alt="movie4">
        <img src="/images/narutomovie5.jpg" alt="movie5">
        <img src="/images/ps2game.jpg" alt="game2">
        <img src="/images/xboxgame.jpg" alt="xbox">
        <img src="/images/ps4.jpg" alt="ps4">
        <img src="/images/film5.jpg" alt="film5">
        <img src="/images/film6.jpg" alt="film6">
        <img src="/images/book.jpg" alt="book">
        <img src="/images/book2.jpg" alt="book2">
        <img src="/images/book3.jpg" alt="book3">









    </div>


    <footer>
        <span>Created by Danial Raja and Ismael Freitas</span>
    </footer>

</body>
</html>